footer{

	position: absolute;	
	
	z-index: 1000;
	
	width: 100%; 
	
	background-color: white;
}

footer a{
	display: flex;
    align-items: center;
    justify-content: center;
}

footer a img{
	width: 30px; 
    cursor: pointer; 
    transition: transform 0.5s;
}

footer a img:hover{
	transform: scale(1.2);
}

.col-1{
	width: 65px;
}